body{
	margin: 2% auto;
	background-color: #eaeaea;
	width:70%;
	
}
img{
	width:100%;
	height:50%;
}
nav{
	background-color: #666;
	height:10%;
	width:100%;
	border-radius: 5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}
nav ul a li{
	text-decoration: none;
	display: inline-block;
	padding:2%;
}



nav ul a{
	display:inline;
	text-decoration: none;
	color:white;
	background-color: #cf5c3f;
	padding:2% 0 2% 0 ;


	
	
}

.mainfooter{
	margin:2% 0 0 0;
	background-color: white;
	width:100%;
	height:10%;
	border-radius: 5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	float: left;
}
.mainfooter p{
	padding: 5px 0 0 10px
	color:#666;
	text-align: center;

}
.maincontent{
	width: 65%;
	margin: 2% 0 0 0;
	background-color: white;
	border-radius: 5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	overflow: hidden;
	float: left;
}
aside{
	width: 33%;
	margin:2% 0 0 2%;
	background-color: white;
	border-radius: 5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	float: left;
}
content p, aside p{
	line-height: 1.8;
	padding: 0 5% 0 5%;
}
.mainarticle header h2, .mainarticle .articleinfo .articleinfofooter{
	padding: 0 5% 0 5%;
}
.mainarticle .articleinfo .articleinfofooter{
	font-variant: small-caps;
}
ol{
	padding: 0 5% 0 10%;
}

a:link{
	border-radius: 5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	height:100%;
	margin: 0 auto;
	

	
}
a:visted{
	background-color:white;
	color: blue;
}
a:hover {
	background-color:white;
	color: blue;

}
a:active{
	background-color:white;
	color: blue;


}


aside h2{
	padding:0 0 0 5%;
	color:#cf5c3f;
}
.maincontent .mainarticle header h2{
	color:#cf5c3f ;
	display: inline-block;
	overflow: hidden;
	margin:0;
}
.maincontent .mainarticle header > img{
	width:100px;
	height:100;
	border-radius:50px;
	-moz-border-radius:50px;
	-webkit-border-radius:50px;
	margin: 5% 0 0 50%;
	border:1.5px blue dotted;
	 

}


/* working with responsiveness */

@media only screen and (min-width: 150px) and (max-width: 600px) {




body{
	margin: 2% auto;
	background-color: #eaeaea;
	width:90%;
	
}

nav{
	background-color: white;
	height:10%;
	width:100%;
	border-radius: 5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}
nav ul a li{
	text-decoration: none;
	display: inline-block;
	padding:2%;
	
}



nav ul a{
	display:inline;
	text-decoration: none;
	color:white;
	background-color: #cf5c3f;
	padding:2% 0 2.5% 0 ;


	
	
}
.maincontent{
	width: 100%;
	margin: 2% 0 0 0;
	background-color: white;
	border-radius: 5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	overflow: hidden;
	float: left;
	display: block;
}

aside{
	width: 100%;
	margin:2% 0 0 0;
	background-color: white;
	border-radius: 5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	float: left;
	display:block;
}










}