
	body{
		font-family: 'Titillium Web', sans-serif;
		background-color:black;
		width:100%;
		font-size: 16px;
		line-height: 1;
		overflow: scroll;
	}
	img{
		width:100%;
		height:30%;
		border-radius:20px;
	}

	img.logo{
		display:inline-block;
		width:500px;
		height:500px;
		margin-top:-150px;
		margin-left:-80px;
		margin-bottom:-300px;
		position:relative;

		
	}
	nav{
		background:transparent;
		margin:none;
		
	}
	nav ul a li{
		text-decoration: none;
		display: inline;
		padding:10px;
		
		
	}




	nav ul a{
		display:inline;
		text-decoration: none;
		color:#cf5c3f;
		background:transparent;
		padding:1% 0 1% 0;
		border:2px solid #cf5c3f;
		
		
		


		
		
	}

	ul{
		margin:2% 30% 2% 40%;
	}

	.mainfooter{
		margin:2% 0 0 0;
		background-color: white;
		width:100%;
		height:10%;
		border-radius: 5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		float: left;
	}
	.mainfooter p{
		padding: 5px 0 0 10px;
		color: #666;
		text-align: center; 

	}
	.maincontent{
		width: 50%;
		margin: 2% 0 0 0;
		background-color: white;
		border-radius: 5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		overflow: hidden;
		float: left;
		height:500px;
	}

	.contact{
		width: 27%;
		margin:2% 1% 0 1%;
		background-color: white;
		border-radius: 5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		float: left;
		height: 500px;
	}
	aside{
		width: 20%;
		margin:2% 0 0 1%;
		background-color: white;
		border-radius: 5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		float: left;
		height:500px;
	}
	content p, aside p{
		line-height: 1.8;
		padding: 0 5% 0 5%;
	}
	.mainarticle header h2, .mainarticle .articleinfo .articleinfofooter{
		padding: 0 5% 0 5%;
	}
	.mainarticle .articleinfo .articleinfofooter{
		font-variant: small-caps;
	}
	ol{
		padding: 0 5% 0 10%;
		
	}

	a:link{
		border-radius: 5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		height:100%;
		margin:0 5% 0 0;
		

		
	}
	a:visted{
		background-color:white;
		color: blue;
	}
	a:hover {
		background-color:white;
		color: #cf5c3f;

	}
	a:active{
		background-color:white;
		color: blue;


	}


	aside h2{
		padding:0 0 0 5%;
		color:#cf5c3f;
	}
	.maincontent .mainarticle header h2{
		color:#cf5c3f ;
		display: inline-block;
		overflow: hidden;
		margin:0;
	}
	.maincontent .mainarticle header > img{
		width:100px;
		height:100;
		border-radius:50px;
		-moz-border-radius:50px;
		-webkit-border-radius:50px;
		margin: 5% 0 0 50%;
		border:1.5px #cf5c3f dotted;

		

	}



	.socialicon{
		display:none;
		
	}

	.project-icon{
		border:none;
		margin:400px 0 0 0;

		
	}

	.contact-icon{
		border:none;
		margin:250px 0 0

	}

	a.black{
		color:black;
		display:grid;
		justify-content: center;
		align-items:center;
	}

	a.default{
		color:rgb(0, 89, 255);
		display:inline;
		
	}

	.sidebar-toggle{
		display:none;
		
	}



	.menu{
		display:none;
		
		
	}

	.menuhide{	
		display:none;
		

	}

	.menu ul{
		display:none;
		
		
	}


	.close-btn{
		display:none;


	}















/* working with responsiveness */
/* for screens less than 768px*/

@media  (max-width: 1024px) {
@keyframes animate-background{
	from{background-color:#eaeaea;}
	to{background-color:black;}
}

@keyframes contact{
	0%   {background-color: black;}
	25%{ background-color:black;}
	75%{background-color:white;}
    100% {background-color:white;}


}



body{
	margin:0 auto;
	background-color:black;
	width:90%;
	animation-name:animate-background;
	animation-duration:8s;
	
	
}
img{
	width:100%;
	height:30%;
	border-radius:20px;
}
nav{
	background: transparent;
}


	
nav ul a li{
	text-decoration: none;
	display: inline;
	padding:2%;
	text-align: center;
	
}

img.logo{
	display:inline;
	width:400px;
	height:500px;
	margin-top:none;
	margin-left:-60px;
	margin-bottom:-150px;
	position:relative;
	float:left;

	
}

img{
	width:100%;
	height:30%;
	border-radius:20px;
	float:center;
	padding:none;
	margin:none;
}

a:link{
	border-radius: 5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	
    
	
	

	
}
a:visted{
	background-color:white;
	color: blue;
}
a:hover {
	background-color:white;
	color: #cf5c3f;

}
a:active{
	background-color:white;
	color: blue;


}


nav ul a{
	display:inline;
	text-decoration: none;
	color:white;
	background-color: #cf5c3f;
	padding:10px;
	
	
	


	
	
}

ul{
	display:none;

	
	

	

}

.maincontent{
	width: 100%;
	margin: 2% 0 0 0;
	background-color: white;
	border-radius: 5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	overflow: hidden;
	float: left;
	display: block;
	text-align:justify;
	animation-name:contact;
	animation-duration:5s;
}

.contact{
    width: 100%;
	margin:0 auto;
	background-color: white;
	border-radius: 5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
    float: left;
	height: 500px;
	animation-name:contact;
	animation-duration:5s;
}

aside{
	width: 100%;
	margin:2% auto;
	background-color: white;
	border-radius: 5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	float: left;
	display:block;
	animation-name:contact;
	animation-duration:5s;
	
	
}

.mainfooter{
	margin:2% 0 0 0;
	background-color: white;
	width:100%;
	height:10%;
	border-radius: 5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	float: left;
}
.mainfooter p{
	padding: 5px 0 0 10px;
	color: #666;
	text-align: center;

}

/* menu btn*/

.sidebar-toggle{
	display:none;;
	left:90%;
	top:120px;
	position:fixed;
	cursor: pointer;
	animation: bounce 2s ease-in-out infinite;
	transform:translate(-100%);
	
}

@keyframes bounce {
	0% {
	  transform: scale(1);
	}
	50% {
	  transform: scale(1.5);
	}
	100% {
	  transform: scale(1);
	}
  }

 


.showmenu{
	position: fixed;
	top:0;
	left:0;
	background-color:white;
	width:100%;
	height:100%;
	transform:translate(0);
	display:none;;
	
	
  }

.menuhide{	
	transform:translate(-100%);

}



.socialicon{
	display:flex;
	justify-content: center;
	margin-top:200px;
	
	
	
}





.fa-twitter,.fa-linkedin{
	color:blue;
}

.contact-icon{
	color:rgb(0, 89, 255);
	border:none;
	margin:310px 0 0 0;
}

.socialicon{
	display:none;
	
}

.project-icon{
	display:block;
	border:none;
	align-items:center;
	justify-content: center;
	
}

a.black{
	color:black;
}

a.default{
	color:rgb(0, 89, 255);
	
}












}

/*for screens less than 450*/

@media  (max-width: 450px){
	@keyframes animate-background{
		from{background-color:#eaeaea;}
		to{background-color:black;}
	}
	
	@keyframes contact{
		0%   {background-color: black;}
		25%{ background-color:black;}
		75%{background-color:white;}
		100% {background-color:white;}
	
	
	}
	
	
	
	
	body{
		
		background-color:black;
		width:100%;
		animation-name:animate-background;
		animation-duration:8s;
	}
	nav{
		background: transparent;
	}
	
	
		
	
	
	img{
		width:100%;
		height:30%;
		border-radius:20px;
	}

	

	img.logo{
		display:block;
		width:100%;
		height:500px;
		margin-top:none;
		margin-left:-50px;
		margin-bottom:none;;
		float:center;
		
	
		
	}

	h2.h1{
		display:block;
		margin-top:50px;
	}

	ul{
		
		display:none;
	}
	
	
	
	.maincontent{
		width: 100%;
		margin: 2% 0 0 0;
		background-color: white;
		border-radius: 5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		overflow: scroll;
		float: left;
		display: block;
		height:600px;
		text-align: justify;
		animation-name:contact;
		animation-duration:5s;
	}
	
	.contact{
		width: 100%;
		background-color: white;
		border-radius: 5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		float: left;
		height: 600px;
		margin-top:2%;
		animation-name:contact;
		animation-duration:5s;
	}
	
	
	.mainfooter{
		margin:2% 0 0 0;
		background-color: white;
		width:100%;
		height:10%;
		border-radius: 5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		float: left;
	}
	.mainfooter p{
		padding: 5px 0 0 10px;
		color: #666;
		text-align: center;
	
	}
	aside{
		width: 100%;
		margin:2% 0 0 0;
		background-color: white;
		border-radius: 5px;
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		float: left;
		height:600px;
		animation-name:contact;
		animation-duration:5s;
	}

	.sidebar-toggle{
		display:inline;
		position:absolute;
		left:85%;
		top:70px; 
		position:fixed;
		cursor: pointer;
		animation: bounce 2s ease-in-out infinite;
		float:left;
	}
	
	@keyframes bounce {
		0% {
		  transform: scale(1);
		}
		50% {
		  transform: scale(1.5);
		}
		100% {
		  transform: scale(1);
		}
	  }
	
	
	  .showmenu{
		position: fixed;
		top:0;
		left:0;
		background-color:white;
		width:100%;
		height:100%;
		transform:translate(0);
		display:block;
		
		
	  }
	
	.menuhide{	
		transform:translate(-100%);
		
	
	}
	
	.menuheader{
		background-color:#eaeaea;
		border-bottom: 10px solid black;
		height:50px;
	}
.showmenu .menuheader .close-btn{
	display:inline;
	margin:10px 0 0 89%;
	border:none;
	float:left;
	}
	.fa-times{
		color:blue;
	}

	.showmenu ul{
		margin-top:100px;
		list-style-type: none;
		text-align:center;
		align-items:center;
		justify-content:center;
		display:inline;
		line-height:3;
		font-family: 'Titillium Web', sans-serif;
	}

	.showmenu ul li a{
		width:100%;
		display:block;
		background-color:#eaeaea;
		margin: 2px 0 2px 0;
		text-decoration: none;
		align-items:center;
		justify-content:center;
		color:red;
	}
	
	.socialicon{
		display:flex;
		justify-content: center;
		margin-top:200px;
		
		
		
		
	}
	
	
	.fa-times, .fa-bars{
		color:red;
	
	}
	}
	.menu ul li a{
		text-decoration: none;
		display:inline-block;
	}
	
	
	
	.fa-twitter,.fa-linkedin{
		color:blue;
	}
	
	
	
	
	
	
	
	
	
	
	
	
	}